.page__header {
  box-sizing: border-box;
  width: 100%;
  padding: 0 48px;
  margin: 0 auto;
}
@media screen and (max-width: 896px) {
  .page__header {
    padding: 0 24px;
  }
}

@media screen and (max-width: 544px) {
  .page__header {
    padding: 16px 16px 0;
  }
}
