.lead__image {
  width: 100%;
  height: 615px;
  background: url(../../../images/lead-image.jpg) no-repeat center;
  background-size: cover;
  margin-top: 64px;
}
@media screen and (max-width: 1152px) {
  .lead__image {
    height: 580px;
  }
}
@media screen and (max-width: 862px) {
  .lead__image {
    height: 480px;
    margin-top: 56px;
  }
}
@media screen and (max-width: 692px) {
  .lead__image {
    margin-top: 40px;
    height: 200px;
  }
}
