.place__description {
  max-width: 488px;
}
@media screen and (max-width: 1152px) {
  .place__description {
    max-width: 456px;
  }
}
@media screen and (max-width: 862px) {
  .place__description {
    max-width: 352px;
  }
}
@media screen and (max-width: 544px) {
  .place__description {
    max-width: 288px;
    padding: 0 16px;
    box-sizing: border-box;
  }
}
