.place__subparagraph {
  max-width: 484px;
  margin: 35px 0 0 0;
}
@media screen and (max-width: 1152px) {
  .place__subparagraph {
    margin: 32px 0 0 0;
    max-width: 456px;
  }
}

@media screen and (max-width: 862) {
  .place__subparagraph {
    max-width: 352px;
    margin: 25px 0 0 0;
  }
}
@media screen and (max-width: 544px) {
  .place__suparagraph {
    max-width: 288px;
  }
}
