.place__subparagraph {
  max-width: 484px;
  margin: 26px 0 0 0;
}

.place__subparagraph:nth-child(3) {
  margin: 27px 0 0 0;
}

@media screen and (max-width: 1152px) {
  .place__subparagraph {
    max-width: 456px;
    margin: 26px 0 0 0;
  }
  /* .place__subparagraph:ch{
    margin: 27px 0 0 0;
  } */
}

@media screen and (max-width: 862) {
  .place__subparagraph {
    max-width: 352px;
    margin: 25px 0 0 0;
  }
}
@media screen and (max-width: 544px) {
  .place__suparagraph {
    max-width: 288px;
  }
}
