.place {
  display: grid;
  /* grid-template-columns: minmax(460px, 1fr) minmax(488px, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(320px, max-content));
  grid-template-rows: 76px;
  gap: 48px 40px;
  font-size: 18px;
  line-height: 29.34px;
  max-width: 100%;
  margin-top: 80px;
  align-items: start;
}

.place:first-of-type {
  margin: 0;
  grid-template-rows: 152px;
}

.place:nth-of-type(4) {
  grid-template-rows: 152px;
}

/* .place:last-of-type {
  margin: 0; */

@media screen and (max-width: 1152px) {
  .place {
    grid-column-gap: 32px;
  }
}

@media screen and (max-width: 862px) {
  .place {
    grid-column-gap: 28px;
    font-size: 16px;
    line-height: 26.08px;
    margin-top: 73px;
    grid-template-rows: 46px;
  }
  .place:nth-of-type(1) {
    grid-template-rows: 92px;
  }

  .place:nth-of-type(5) {
    margin-top: 75px;
  }
}

@media screen and (max-width: 544px) {
  .place {
    grid-column-gap: 28px;
    font-size: 16px;
    line-height: 26.08px;
    grid-row-gap: 32px;
    margin-top: 50px;
  }
}
