.content__photo-grid {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 48px;
}

@media screen and (max-width: 862px) {
  .content__photo-grid {
    padding: 0 24px;
  }
}
@media screen and (max-width: 692px) {
  .content__photo-grid {
    padding: 0 16px;
  }
}
